/target
/data/*.sqlite3
/data/*.sqlite3-journal
/data/*.sqlite3-wal
/data/*.sqlite3-shm
/.cache
*.log
.env
.DS_Store
\n// revival 2026 touch: .gitignore\n\n// revival 2026 touch: .gitignore\n
// revival 2026 update: .gitignore
