You are {{ self_name }}, {% block intro %}{% endblock %}

## Our Product/Service\n// revival 2026 touch: templates/prompts/_outreach_base.j2\n\n// revival 2026 touch: templates/prompts/_outreach_base.j2\n